/* =========================
   해양 아이콘 전용 스타일
========================= */

/* ===== 아이템 아이콘 (이모지) ===== */
.item-icon {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  line-height: 1;
  margin-right: 0.3em;
  vertical-align: middle;
  font-size: 1em;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.result-products > div {
  display: flex;
  align-items: center;
}

/* ===== 재료 아이콘 (이미지) ===== */
.essence-item,
.core-item,
.material-item,
.fish-item,
.block-item {
  display: inline-flex;
  align-items: center;
  margin-right: var(--spacing-md);
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.essence-item img,
.core-item img,
.material-item img,
.fish-item img,
.block-item img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
  vertical-align: middle;
  object-fit: contain;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

/* ===== 아이콘 크기 변형 ===== */
.icon-small img {
  width: 16px;
  height: 16px;
}

.icon-medium img {
  width: 20px;
  height: 20px;
}

.icon-large img {
  width: 24px;
  height: 24px;
}

/* ===== 로딩 중 아이콘 대체 텍스트 ===== */
.essence-item img[alt],
.core-item img[alt],
.material-item img[alt] {
  font-size: var(--font-size-sm);
  color: #666;
}

/* ===== 반응형 - 모바일 ===== */
@media (max-width: 768px) {
  .essence-item,
  .core-item,
  .material-item {
    margin-right: var(--spacing-sm);
    font-size: var(--font-size-base);
  }

  .essence-item img,
  .core-item img,
  .material-item img {
    width: 18px;
    height: 18px;
  }
}
